body{
    margin: 0;
    padding: 0;
    background: #266472;
}
:root{
    --user-list-clr:linear-gradient(359deg, #77A882 51.54%, #266472 100%);    
    --option-clr:#082d2b;
    --message-box-clr:#083d2b;
    --sender-msg-clr:wheat;
    --reciever-msg-clr:white;
    --msg-inp-clr:#083d2b;
}
.center_div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.flex-window{
    display: flex;
}
.fcol{
    flex-direction: column;
}
.left_nav_bar{
    position: absolute;
    left: 0;
    top: 20%;
    height: 60%;
    background: red;
    transform: translateX(-70%);
    border-radius: 2.5vw;
}
.boldtext{
    font-weight: bold;
}
.largetext{
    font-size: 2vw !important;
}
.smalltext{
    font-size: 1vw !important;
}

.online-status{
    
    position: absolute;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: green; /* Online status color */
    border: 0.2vw solid white;
    bottom: 1.5vw;
    right: 0.2vw;
    
   
}

.nav_left_elements{
    margin: 1vh 1vw 1vh 1vh;
}
.nav_elements img{
    border-radius: 3vw;
    margin: 1vw;
    width: 10vw;
    vertical-align:  text-bottom;
}
.nav_elements{
    margin: 1.5vh;
    text-align: center;
}
.nav_elements span{
    color: white;
    font-size: 1.5vw;
}
.bottom_nav_elements{
    position: absolute;
    bottom: 2vw;
    text-align: center;
}
.chat_box{
    width: 70vw;
    height: 90vh;
    
}
.user_list{
    display: flex;
    overflow: auto;
    background: var(--user-list-clr);
    gap: 1vw;
    overflow: hidden;
}
.user_info{
    margin: 0.5vw;
    position: relative;
    border: 2px solid black;
    border-radius: 1vw;
    min-width: 6vw;
    text-align: center;
}
.user_info img{
    position: relative;
    height: 5vw;
    border-radius: 3vw;
    
    margin: none;
    vertical-align: text-bottom;
}
.user_info span{
    color: white;
    font-size: 1vw;
}

.selected_info{
    display: flex;
    justify-content: space-between;
    height: 4vw; 
    background: var(--option-clr);
    overflow: h;
}
.user_img{
    display: flex;
    gap: 1vw;
    width: 30%;
}
.user_img img{
    position: relative;
    width: 4vw;
    border-radius: 3vw;
}
.selected_content{
    justify-content: center;
    align-items: center;
}
.selected_content span{
    margin-right:1vw;
 
    color: white;
    font-size: 1vw;
}
.extra_option{
    width: 11vw;
}
.extra_option img{
    width: 25%;
    float: left;
    margin-top: 0.7vw;
    margin-right: 1vw;
    float: right;
}

.user-msg{
    width: 12vh;
    text-align: center;
}
.user-msg img{
    height: 10vh;
    margin: 1.5vh;
    border-radius: 15px;
}
.user-msg-win{
    height: 60vh;
    background: var(--message-box-clr);
    overflow: auto;
}
.msg-container{
    position: relative
}
.dis-msg{
    margin: 3vh;
    
    height: 85%;
    max-width: 20vh;
    word-wrap: break-word;
    border-radius: 0.5vw;
    
}
.msg-content{
    font-size: 1vw;

    padding: 1vh;
}
.msg-date{
    font-size: 0.8vw;
    margin-bottom: 2vw;
    float: right;
}
.sender-msg{
  
    margin-left: auto;
}
.reciever-msg{
    margin-right:auto ;
}
.sender{
    clip-path:  polygon(0% 0%, 100% 0%, 100% 75%, 100% 41%, 100% 100%, 89% 94%, 0 93%);
    background: var(--sender-msg-clr);
    margin-right: 3vw;
}
.reciever{
    clip-path: polygon(0 100%, 100% 100%, 100% 75%, 100% 3%, 58% 3%, 19% 3%, 0 0);
    background: var(--reciever-msg-clr);
    margin-left: 3vw;
}
.msg_emoji_reaction{
    position: absolute;
    font-size: 2vw;
}
.sender-msg .msg_emoji_reaction{
    right: 0;
    top: 13vw;
}
.reciever-msg .msg_emoji_reaction{
    top: -1vw;
    left: 0;

}
.msg-input{
    padding: 0.2vw;
    display: flex;
    justify-content: center;
   
    align-items: center;
    height: 5vw;
    background: var(--msg-inp-clr)
}
.msg-input textarea{
    resize: none;
    width: 70%;
    height: 60%;
    font-size: 3vh;
}
.msg-option{
    margin: 1vw;
    height: 60%;
    width: 7%;
    overflow:auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory; 
    
}
.msg-option::-webkit-scrollbar {
    display: none;
  }
.msg-option img{
    scroll-snap-align:start;
    width:3vw;
}
   